(
    headless: false,
    listen_addr: "127.0.0.1",
    udp_listen_port: 12025,
    webtransport_listen_port: 12026,
    conditioner: (
        incoming_latency_ms: 350,
        incoming_jitter_ms: 0,
        incoming_loss: 0.0,
    ),
    webtransport_cert_path: "./crates/pha-launcher/web/certs/cert.pem",
    webtransport_key_path: "./crates/pha-launcher/web/certs/key.pem",
    asset_path: "../pha-assets/assets"
)
